# exclude .gitignore and similar from the generated tarball
.git*           export-ignore

# exclude CI configurations
.github         export-ignore

# exclude sublime-project/workspace
*.sublime-project export-ignore
*.sublime-workspace export-ignore
